/* styles.css */
.calendar-container {
  padding: 30px;
  max-width: 600px;
  margin: auto;
  border: 1px solid #cbd5e1;
  border-radius: 15px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  font-family: Arial, sans-serif;
  background-color: white;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.calendar-header {
  font-size: 24px;
  margin-bottom: 10px;
}

.selected-range {
  background-color: #4f86f7;
  color: white;
  padding: 10px;
  border-radius: 10px;
  text-align: center;
  font-weight: bold;
  display: inline-block;
  position: relative;
  top: 10px; /* UI가 겹치지 않도록 조정 */
  z-index: 1;
}

.react-datepicker {
  border: none;
  font-size: 18px; /* 크기 1.5배 증가 */
  text-align: center;
  display: inline-block;
}

.react-datepicker__day--selected,
.react-datepicker__day--in-selecting-range,
.react-datepicker__day--in-range {
  background-color: #4f86f7;
  color: white;
  border-radius: 50px;
}

.react-datepicker__day {
  border-radius: 50%;
  height: 60px; /* 크기 1.5배 증가 */
  width: 60px; /* 크기 1.5배 증가 */
  line-height: 60px;
  margin: 3px;
  display: inline-block;
}

.react-datepicker__month-container {
  padding: 20px;
}

h2.react-datepicker__current-month {
  font-size: 22px;
  font-weight: bold;
  margin-bottom: 10px; /* "August 2024" 부분과 맞추기 위해 
  추가 */
  margin-top: 15px;
}

.react-datepicker__header {
  background-color: white;
  border-bottom: none;
  text-align: center;
  padding-top: 0; /* 상단 여백 제거 */
}

.react-datepicker__day-names {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
  padding: 0 15px; /* 날짜와 요일의 정렬을 맞추기 위해 추가 */
}

.react-datepicker__day-name {
  width: 60px; /* 날짜 셀 크기와 동일하게 설정 */
  line-height: 60px;
}

.select-button {
  background-color: #4f86f7;
  color: white;
  border: none;
  padding: 15px 30px;
  font-size: 18px;
  border-radius: 10px;
  cursor: pointer;
  margin-top: 20px;
  text-align: center;
}

.select-button:hover {
  background-color: #3b6dd7;
}

.react-datepicker__navigation {
  top: 35px; /* 슬라이더 정렬 개선 */
}
